body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  text-align: center;
}

#login, #menu, #content {
  background: white;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 6px;
}

button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
}
